.nav-link{
    font-weight: bold;
    
}
.nav-bar-contnet{
 color: #000000;
}


a {
    color: black;
  }

  .navbar-center {    
              position: absolute;  
                        left: 77%;  
                        top:30px;
                        transform: translatex(-50%);        }
