<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item active">
          <a routerLink="getAll" class="nav-link" >Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="aboutUs" class="nav-link" >About Us</a>
        </li>
        <li class="nav-item active">
          <a routerLink="investors" class="nav-link" >Investors</a>
        </li>
        <li class="nav-item">
          <a routerLink="contactUs" class="nav-link" >Contact Us</a>
        </li>
      </ul>
      
    </div>
    <button type="button" class="btn btn-dark">Log In</button>

  </nav>