<div class ="container-fluid " >
  
  <div class="text-center">
    <h1>Prestige Bank</h1> <hr />
  </div>

  <div>
    <a routerLink="getAll" >Home</a> | 
    <a routerLink="aboutUs" >About Us</a> |
    <a routerLink="investors" >Investors</a> |
    <a routerLink="contactUs" >Contact Us</a> |
    <a routerLink="login" >Log In</a>

    <!-- <a routerLink='delete'>Delete Employee</a> |
    <a routerLink="tdfDemo">TDF</a> |
    <a routerLink="mdfDemo">MDF</a> |
    <a routerLink="success">Success</a> -->
  </div>
  <router-outlet></router-outlet>
</div>
