<div class="row">
    <div class="card col-3">
        <div class="card-body">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td class="table-head" style="font-weight:900" >SERVICES</td>
                    </tr>
                    <tr>
                        <td class="table-body" ><a  (click)="transactionClicked()">Transaction Details</a></td>
                    </tr>
                    <tr>
                        <td class="table-body"><a routerLink="transfer">Transfer Money</a></td>
                    </tr>
                    <tr>
                        <td class="table-body"><a routerLink="changePassword">Change Password</a></td>
                    </tr>
                    <tr>
                        <td class="table-body"><a routerLink="getInfo">Account Info</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    