<div class="row">
     <!-- <app-service-menu></app-service-menu> -->
    <div style="width:70rem" class="card">
        <div class="card-body">
            <div class="row" style=" padding:0">
                <div class="col-12" style=" padding:0">
                    <h5 style=" padding:0">ACCOUNT DETAILS</h5>
                </div>
            </div>
            <hr style="border: 1px solid red;margin-bottom: 20px; padding:0">

            <div>
                <div class="row">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td class="text-start table-lable-style">Customer Name:</td>
                                <td class="text-start table-data-style">{{accountInfo.custName}}</td>
                                <td class="text-start table-lable-style">Account Number:</td>
                                <td class="text-start table-data-style">{{accountInfo.accNumber}}</td>
                                <td class="text-start table-lable-style">Account Type:</td>
                                <td class="text-start table-data-style">{{accountInfo.type}}</td>


                                <td class="text-start table-lable-style" style="padding-left: 0px;">
                                    Show Balence</td>
                                <label class="switch">
                                    <input type="checkbox" checked id="showbalance">
                                    <span class="slider round"></span>
                                </label>
                            </tr>
                            <tr>
                                <td class="text-start table-lable-style"> Bank Name:</td>
                                <td class="text-start table-data-style">aaaaaaaaaaaaaa</td>
                                <td class="text-start table-lable-style">Bank Ifsc:</td>
                                <td class="text-start table-data-style">aaaaaaaaaaaaaaaaa</td>
                                <td class="text-start table-lable-style">Available Balance:</td>
                                <td class="text-start table-data-style"> &#x20b9; {{accountInfo.avlbalance}}</td>

                            </tr>
                            <tr>
                                <td class="text-start table-lable-style">Trannsfer Limit:</td>
                                <td class="text-start table-data-style">aaaaaaaaaaaaaaaaa</td>
                                <td class="text-start table-lable-style">Min Balence:</td>
                                <td class="text-start table-data-style">aaaaaaaaaaaaaaaaa</td>
                                <td class="text-start table-lable-style">Bank Address:</td>
                                <td class="text-start table-data-style">aaaaaaaaaaaaaaaaa</td>

                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
</div>