<div class="about">
    <section>
        <div class = "content">
            <h2>About Us</h2>
            <span><!-- line here --></span>
            <p>Legato Banking System, offers a wide variety of loans and services for their customers which has a requirement of having an online net banking, where customers can see their account activities online instead of visiting the bank branch, do online transactions instead of using cheque’s to save the customers time.
                Moreover customers would come to know about the new changes and offers the bank make that could be the rate of interest and charges apply for receiving message or having debit card and credit card.
            </p>
        </div>
        <div class = "image">
            <img src="https://cdn.pixabay.com/photo/2017/08/26/23/37/business-2684758__340.png">
         </div>
    </section><br><br>
</div>