.card {
    
  width: 20rem;

  margin-top: 1em;
  margin-left: 2em;
  /* padding: 0.5em 0.5em 0.5em; */
  border-radius: 0.5em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card .card-title {
  font-weight: 700;
  font-size: 1em;
}

.table-body{
    color : #f16c1f;
    font-size: 18px;
    font-weight: bolder;
    padding-top: 15px;
    font-family:Verdana, Tahoma, sans-serif
}

.table-head{
    
    font-size: 22px;
    font-weight: bolder;
    padding: 10px;
    font-family:Verdana, Tahoma, sans-serif
}

.card-account{
  width: 52rem;
  margin-top: 1em;
  margin-left: 2em;
  /* padding: 0.5em 0.5em 0.5em; */
  border-radius: 1em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card-account-info{
  font-weight: 700;
  font-size: 1.5em;
}

/* Toggle button css */
.switch {
display: inline-block;
width: 50px;
height: 25px;
position: absolute;  
margin-bottom: 100px;
margin-top: 24px;
 left: 97%;  
 transform: translatex(-50%);

}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 21px;
width: 23px;
left: -0.6px;
bottom: 2px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #f16c1f;
}

input:focus + .slider {
box-shadow: 0 0 1px #f16c1f;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
/* outer box */
.slider.round {
border-radius: 22px;
}

.slider.round:before {
border-radius: 50%;
}


td {
width: 150px;
text-align: center;
padding: 30px;
}
.table-lable-style{
  font-size: 10pt;
  color: #f16c1f;
  font-weight: bold;
  font-family:Verdana, Tahoma, sans-serif
}
.table-data-style{
font-size: 10pt;
  color: #000000;
  font-weight: lighter;
}


.mainDiv {
position: absolute;
top: 45%; 

left: 53%;
display: flex;
min-height: 100%;
align-items: center;
justify-content: center;
background-color: #f9f9f9;
font-family: Verdana, Tahoma, sans-serif;
}
.cardStyle {
height: 420px;
width: 500px;
border-color: white;
background: rgb(255, 255, 255);
padding: 5px 0;
border-radius: 10px;
margin: 1px 0;
box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
position: absolute;  
margin-bottom: 490px;
margin-top: 10px;
left: 50%;  
transform: translatex(-50%);

}
#signupLogo {
max-height: 50px;
margin: auto;
display: flex;
flex-direction: column;
}
.formTitle{
font-weight: 600;
margin-top: 10px;
color: #2F2D3B;
text-align: center;
}
.inputLabel {
font-size: 12px;
color: #555;
margin-bottom: 6px;
margin-top: 24px;
}
.inputDiv {
width: 70%;
display: flex;
flex-direction: column;
margin: auto;
}
input {
height: 40px;
font-size: 16px;
border-radius: 4px;
border: none;
border: solid 1px #ccc;
padding: 0 11px;
}
input:disabled {
cursor: not-allowed;
border: solid 1px #eee;
}
.buttonWrapper {
margin-top: 40px;
}
.submitButton {
width: 50%;
height: 40px;
margin: auto;
display: block;
color: #fff;
background-color: #f16c1f;
border-color: #f16c1f;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
border-radius: 4px;
font-size: 14px;
cursor: pointer;
}
.submitButton:disabled,
button[disabled] {
border: 1px solid #f16c1f;
background-color: #f16c1f;
color: white;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.radiolabelone {
font-size: 12px;

margin: 0 10px 0 10px;

color: #555;
margin-bottom: 6px;
margin-top: 24px;
left: 90%; 
position:relative; 
transform: translatex(-50%);
margin: 0 10px 0 10px
}

/* Dropdown CSS*/
/* Dropdown Button */
.dropbtn {
border: none;
outline: none;
background-color: inherit;
margin: 0;
color : #f16c1f;
font-weight: 700;
font-family:Verdana, Tahoma, sans-serif;
text-align: center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 100px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: #f16c1f;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

input[type="radio"]{
position:fixed;
margin-top: 2%;
}