<div class="row">
    <p class="accName">
        Hi &nbsp;{{accountNameOnLogin}}
    </p>
</div>

<div class="row">
    <form [formGroup]="password" (ngSubmit)="passwordchange()" action="" name="signupForm" id="signupForm">
    <div class="card col-3">
        <div class="card-body">
            
            <!-- <form [formGroup]="passwordType" action="" name="passForm" id="passForm"> -->
            <table class="table table-hover">
                <tbody>
        
                    <tr>
                        <td class="table-head" style="font-weight:900">SERVICES</td>
                    </tr>
                    <tr>
                        <td class="table-body"><a (click)="transactionClicked()">Transaction Details</a></td>
                    </tr>
                    <tr>
                        <td class="table-body"><a (click)="transfer()">Transfer Money</a></td>
                    </tr>
                    <tr>
                        <td class="table-body">
                            <div class="form-group">
                                <label for="inputPassword3">Change Password</label>
                                <select class="custom-select form-control" (change)="updatePassword($event)"
                                formControlName="passwordtype">
                                <option value="">Choose...</option>
                                <option *ngFor="let p of passwordenumType" value="{{p}}">{{p}}
                                </option>
                                </select>
                                <!-- error -->
                                <!-- <div class="invalid-feedback" *ngIf="submitted && passwor.designation.errors?.required">
                                Choose designation.
                                </div> -->
                            </div>  
                        </td>
                    </tr>
                    <tr>
                    <td class="table-body"><a (click)="getInfo()">Account Info</a></td>
                    </tr>
                </tbody>
            </table>
            <!-- </form> -->
            </div>
    </div>

    <div class="mainDiv">
        <div class="cardStyle">

                <img src="assets/images/bank-logo.png" id="signupLogo" />
                
                <div class="inputDiv">
                    <label class="inputLabel" for="oldpassword">Old Password</label>
                    <input type="password" formControlName="oldpassword" id="oldpassword" name="oldpassword" required>
                </div>

                <div class="inputDiv">
                    <label class="inputLabel" for="password">New Password</label>
                    <input type="password" formControlName="newpassword" id="password" name="password" required>
                </div>
                <!-- <div class = "alert alert-danger" [hidden]="password.controls['newpassword'].valid || password.controls['newpassword'].pristine" >
                    Password must be min 8 and include 1 special character,1 number,1 capital letter
                </div>
                <div *ngIf ="err" class ="text-danger">
                    {{err.error.message}}
                </div> -->
                <div class="inputDiv">
                    <label class="inputLabel" for="confirmPassword">Confirm Password</label>
                    <input type="password" formControlName="confirmpassword" id="confirmPassword"
                        name="confirmPassword">
                </div>
                <!-- <div class = "alert alert-danger" [hidden]="password.controls['confirmpassword'].valid || password.controls['confirmpassword'].pristine" >
                    Password must be same as new password
                </div>
                <div *ngIf ="err" class ="text-danger">
                    {{err.error.message}}
                </div> -->
                <div class="buttonWrapper">
                    <button type="submit" id="submitButton"
                        class="submitButton pure-button pure-button-primary">
                        <span>Submit</span>
                        <span id="loader"></span>
                    </button>
                </div>
            
        </div>
    </div>
</form>
</div>