.card-data{
    color: #000000;font-family:Verdana, Geneva, Tahoma, sans-serif ;text-align: justify;
}
.card-header{
    color: #000000;font-family:Verdana, Geneva, Tahoma, sans-serif ;text-align: center;font-weight:300;
}