<div class="row">
    <div class="card col-3">
        <div class="card-body">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td class="table-head" style="font-weight:900">SERVICES</td>
                    </tr>
                    <tr>
                        <td class="table-body"><a (click)="transactionClicked()">Transaction Details</a></td>
                    </tr>
                    <tr>
                        <td class="table-body"><a (click)="transfer()">Transfer Money</a></td>
                    </tr>
                    <tr>
                        <td class="table-body"><a (click)="changePassword()">Change Password</a></td>
                    </tr>
                    <tr>
                        <td class="table-body"><a (click)="getInfo()">Account Info</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div style="width:70rem" class="card">
        <div class="card-body"
            style="font-weight:bold;color : #f16c1f;font-weight: 700;font-family:Verdana, Tahoma, sans-serif">
            <div class="row" style="padding:0;font-size: 22px;">
                <div class="col-12" >
                    <p >TRANSACTION DETAILS</p>
                </div>
            </div>
            <hr style="border: 1px ;color: #f16c1f;margin-bottom: 20px; padding:0">
            <form [formGroup]="transaction" class="flex-c">
                <div class="row">

                    <table class="table table-data-style" style="font-size: 18px;font-weight :bold">
                        <tbody>
                            <tr>
                                <td colspan="1" class="text-start">

                                    <div class="form-check">
                                        <input class="form-check-input" style="padding-right:0" type="radio"
                                            name="transShow" id="flexRadioDefault1" value="showAll"
                                            formControlName="transShow" (click)="disableDates()" checked="">
                                        <p>Show All</p>

                                    </div>
                                </td>
                                <td colspan="1" class="text-start">

                                    <div class="form-check" style="margin-left:2px">
                                        <input class="form-check-input" type="radio" name="transShow"
                                            id="flexRadioDefault2" value="showType" formControlName="transShow"
                                            (click)="disableDates()">Show Type

                                    </div>
                                    <select class="custom-select" (change)="changeTransactionType($event)"
                                        formControlName="transType">
                                        <option value="" disabled>Transaction type</option>
                                        <option id="tType" *ngFor="let type of transactionType" [ngValue]="type">
                                            {{type}}</option>
                                    </select>

                                </td>
                                <td colspan="1" class="text-start">


                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="transShow"
                                            id="flexRadioDefault3" value="showDate" formControlName="transShow"
                                            (click)="enableDates()">Show By Date

                                    </div>
                                    &nbsp;

                                    <div *ngIf="isShowDateEnabled">
                                        <p>From</p>
                                        <input id="fromDate" type="date" name="transFromDate"
                                            formControlName="transFromDate" (blur)="compareDates()">

                                        <p> To</p>

                                        <input id="toDate" type="date" name="transToDate" formControlName="transToDate"
                                            (blur)="compareDates()">
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <div class="alert alert-danger" *ngIf="invalidDate">
                        {{errInvalidDate}}
                    </div>
                    <!-- <div class="alert alert-danger" *ngIf="emptyDates">
                        {{emptyDatesInvalid}}
                    </div> -->

                </div>
                <button class="transButton" type="button" (click)="getTransactions()">View Transactions</button>
                <hr>
                <div>
                    <div class="row">
                        <table class="table table-data-style" style="font-size: 16px;font-weight :bold;font-family:Verdana, Tahoma, sans-serif"
                            *ngIf="displayTable">
                            <thead>
                                <tr>
                                    <th>Transaction #</th>
                                    <th>Reference #</th>
                                    <th>Account #</th>
                                    <th>Transaction Type</th>
                                    <th>Amount</th>
                                    <th>Transaction Date</th>
                                    <th>IFSC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor='let trans of _transaction'>
                                    <td>{{trans.transactionId}}</td>
                                    <td>{{trans.referenceNo}}</td>
                                    <td>{{trans.accountNum}}</td>
                                    <td>{{trans.transactionType}}</td>
                                    <td>{{trans.amount}}</td>
                                    <td>{{trans.transactionDateTime}}</td>
                                    <td>{{trans.ifsc}}</td>

                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="alert alert-danger" *ngIf="errorNoTrans">
                    {{errorNoTrans.error.message}}
                </div>

                <button class="transButton" type="button" (click)="downloadExcel()" *ngIf="displayTable">Download
                    statement</button>
            </form>
        </div>

    </div>


</div>