<div class="row">
    <div class="col-12">
        <img src="assets/images/investment-banner.jpg" width="100%" height="450" />
    </div>
</div>
<div class="row mt-2">
    <h3 style=" text-shadow: 2px 2px 8px #000000;text-align: center;font-size: 40px;color:#f16c1f;">BEST INVESTMENT PLANS</h3>
</div>
<div class="row ml-5">
    <div class="col-1" style="margin-left:5rem"></div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
    <div class=" col-4 card shadow-lg mb-5 mt-3 bg-white rounded">
        <!-- <img src="assets/images/goals.jpg" height="200" class="card-img-top" alt="..."> -->
        <div class="card-body"
            style="text-align: justify;font-family:'Times New Roman', Times, serif;font-size: 22;font-weight: bolder;">
            <div class="row">
                <div class="col-6 mt-4">
                    <h5 class="card-title">WEALTH CREATION</h5>
                    <ul>
                        <li>
                            <p class="card-text">Mutual Fund</p>
                        </li>
                        <li>
                            <p class="card-text">Insta SIP</p>
                        </li>
                        <li>
                            <p class="card-text">Money Coach/p>
                        </li>
                        <li>
                            <p class="card-text">Demat Account</p>
                        </li>
                        <li>
                            <p class="card-text">Online Trading & Demat Account</p>
                        </li>
                    </ul>
                </div>
                
                <div class="col-6 mb-3 mt-3">
                    <img src="assets/images/wealth.jfif" style="margin-right: 200px;" height="230" width="99%"
                        alt="...">
                </div>
            </div>



        </div>
    </div>
    <div class="col-1"></div>
    <div class=" col-4 card shadow-lg mb-5 mt-3 bg-white rounded">
        <!-- <img src="assets/images/goals.jpg" height="200" class="card-img-top" alt="..."> -->
        <div class="card-body"
            style="text-align: justify;font-family:'Times New Roman', Times, serif;font-size: 22;font-weight: bolder;">
            <div class="row">
                <div class="col-6 mt-4">
                    <h5 class="card-title">RETIREMENT PLANNING</h5>
                    <ul>
                        <li>
                            <p class="card-text">National Pension Scheme</p>
                        </li>
                        <li>
                            <p class="card-text">Sukanya Samriddhi Yojana</p>
                        </li>
                        <li>
                            <p class="card-text">Public Provident Fund</p>
                        </li>
                        <li>
                            <p class="card-text">Senior Citizens Savings Scheme</p>
                        </li>
                        <li>
                            <p class="card-text">Guaranted Pension Plan</p>
                        </li>
                    </ul>
                </div>
                <div class="col-6 mb-3 mt-3">
                    <img src="assets/images/retirement.jfif" width="230"height="230" alt="...">
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row mt-2">
    <h3 style=" text-shadow: 2px 2px 8px #000000;text-align: center;font-size: 40px;">14 INVESTMENT PLANS FOR YOU</h3>
</div>
<div class="row">
    <ul>
        <li>
            <h4 style="font-weight: bold; text-align: left;">Public Provident Fund (PPF)</h4>
            <p style="text-align: justify" class="paraFont">Traditionally considered to be among the best and safest investment modes in
                India, PPF is one of the most popular small savings scheme. PPF account holders can invest up to Rs 1.5
                lakh in a financial year while the minimum deposit required is Rs 500. Deposits can be made in lump-sum
                or in 12 installments. PPF deposits qualify for deduction from income under Section 80C of the Income
                Tax Act. In terms of income tax implications, PPF accounts also qualify for EEE (exempt, exempt, exempt)
                tax category, which means an investor is not liable to pay tax at all three levels - investment, earning
                and withdrawal.
            </p>
            <hr>
        </li>
        <li>
            <h4 style="font-weight: bold; text-align: left;">Direct Equity</h4>
            <p style="text-align: justify" class="paraFont">Direct plans help you to save money on commissions and marketing-related
                expenses. This small saving is invested in the scheme and it may help you to make extra returns over a
                long
                period.
            </p>
            <hr>
        </li>
        <li>
            <h4 style="font-weight: bold; text-align: left;">Mutual Funds</h4>
            <p style="text-align: justify" class="paraFont">Mutual fund dealers allow you to compare the funds based on different
                metrics,
                such as level of risk, return, and price. Also, as the information is easily accessible, the investor
                will
                be able to make wise decisions. Besides, Mutual Funds offer benefits in liquidity and professional
                management.
            </p>
            <hr>
        </li>
        <li>
            <h4 style="font-weight: bold; text-align: left;">Real Estate Investment</h4>
            <p style="text-align: justify" class="paraFont">Investment in real estate is one of the most lucrative and beneficial in
                India,
                as the potential for development is huge and the market is growing.
            </p>
            <hr>
        </li>
        <li>
            <h5 style="font-weight: bold; text-align: left;">Gold investment</h5>
            <p style="text-align: justify" class="paraFont">Traditionally considered to be among the best options, gold investment
                schemes
                offer you the chance to convert a blocked asset into high-value liquidity. </p>
            <hr>
        </li>
        <li>
            <h5 style="font-weight: bold; text-align: left;">Post Office Saving Scheme</h5>
            <p style="text-align: justify" class="paraFont">Ideal for retired people who need regular income, it comes with the option of
                account conversion. </p>
            <hr>
        </li>
        <li>
            <h4 style="font-weight: bold; text-align: left;">Company Fixed Deposits (FDs)</h4>
            <p style="text-align: justify" class="paraFont">Company FDs offer higher interest rates than bank FDs and are ideal for
                long-term
                investments.</p>
            <hr>
        </li>
        <li>
            <h4 style="font-weight: bold; text-align: left;">Initial Public Offerings (IPOs)</h4>
            <p style="text-align: justify" class="paraFont">IPOs, launched by reputed companies is an ideal long term and low-risk
                investment
                option. </p>
            <hr>
        </li>
        <li>
            <h4 style="font-weight: bold; text-align: left;">ULIPs (Unit Linked Insurance Plans)</h4>
            <p style="text-align: justify" class="paraFont">ULIPs offer a range of benefits and provide the joint benefits of investment
                and
                insurance. Known for tax benefits, ULIPs are among the top investment mediums in India.</p>
            <hr>
        </li>
        <li>
            <h5 style="font-weight: bold; text-align: left;">Bonds</h5>
            <p style="text-align: justify" class="paraFont">Bonds are often liquid it is often fairly easy for an institution to sell a
                large
                quantity of bonds without affecting the price much.</p>
            <hr>
        </li>
        <li>
            <h4 style="font-weight: bold; text-align: left;">Bank FD</h4>
            <p style="text-align: justify" class="paraFont">Bank fixed deposits are extremely popular in India. Coming with
                cumulative/non-cumulative options, bank FDs offer fixed returns over the investment tenure and the
                returns
                are payable on a monthly, annual or bi-annual basis, depending on the bank policy.

            </p>
            <hr>
        </li>
        <li>
            <h4 style="font-weight: bold; text-align: left;">Senior Citizen Savings Scheme (SCSS)</h4>
            <p style="text-align: justify" class="paraFont">SCSS's are tax free and risk-free investment options for senior citizens
                above
                the age of 60. They offer big interest rates and are quite lucrative.</p>
            <hr>
        </li>
        <li>
            <h4 style="font-weight: bold; text-align: left;">RBI taxable bonds</h4>
            <p style="text-align: justify" class="paraFont">These RBI bonds have tenure of 7 years and are issued in demat format (they
                are
                credited to BLA or Bond Ledger Account of the holder).</p>
            <hr>
        </li>
    </ul>
</div>



<div class="row mt-2">
    <h3 style=" text-shadow: 2px 2px 8px #000000;text-align: center;font-size: 40px;">TOP INVESTERS ON LEGATO BANK</h3>
</div>
<div class="row">
    <div class="card-profile col-3 "  style="margin-left:2rem;background-color:white">
        <img src="assets/images/Praveen.jpeg" class="card-img-top roundimg" alt="">
        <div class="card-body">
            <h5 class="card-profile-title">Praveen Kumar</h5>
            <p class="card-text">Software Engineer at Legato Health Technologies</p>

        </div>
    </div>
    <div class="card-profile col-3" style="margin-left:2rem;background-color:white">
        <img src="assets/images/Seema.jpeg" class="card-img-top roundimg" alt="">
        <div class="card-body">
            <h5 class="card-profile-title">Seema Rajshekhar </h5>
            <p class="card-text">Software Engineer at Legato Health Technologies</p>
        </div>
    </div>
    <div class="card-profile col-3" style="margin-left:2rem;background-color:white">
        <img src="assets/images/Shubam.jpeg" class="card-img-top roundimg" alt="">
        <div class="card-body">
            <h5 class="card-profile-title">Shubham Tiwari</h5>
            <p class="card-text">Software Engineer at Legato Health Technologies</p>

        </div>
    </div>
    <div class="card-profile col-3" style="margin-left:2rem;background-color:white">
        <img src="assets/images/Rupesh.jpeg" class="card-img-top roundimg" alt="">
        <div class="card-body">
            <h5 class="card-profile-title">Rupesh Kumar Singh</h5>
            <p class="card-text paraFont">Software Engineer at Legato Health Technologies</p>

        </div>
    </div>
</div>